<li class="list-group-item">
  <div class="row">
    <div class="col-2">
      <%= render partial: 'shared/profile_image', object: comment.author, as: 'user' %>
    </div>
    <div class="col">
      <p>
        <small>
          <%= link_to comment.author.name, user_path(comment.author) %>
          <span class="text-muted"><small><%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</small></span><br>
          <%= comment.content %>
        </small>
      </p>
    </div>
  </div>
</li>