<li class="list-group-item">
  <div class="row">
    <div class="col-1">
      <%= image_tag(comment.author.image, size: '36') %>
    </div>
    <div class="col-4">
      <small><p class="text-muted"><%= link_to comment.author.name, user_path(comment.author) %><br/>
      <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</small></p>
    </div>
    <div class="col">
      <%= comment.content %>
    </div>
  </div>
</li>